@accentColorLight: rgb(255, 208, 189);
@accentColorDark: rgb(242, 168, 149);

html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1000px;
  background: url('images/background-image.jpeg') fixed, rgba(242,224,235, 0.5);
  font-family: 'Amatic SC', cursive;
}

body {
  background: url("..") fixed;
  height: 100%;
}

#wrapper{
  padding: 0;
  height: 100%;
}

.centeredContent{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

main{
  min-height: 100%;
  /*height: 100%;*/
}


#content{
  background: rgba(255, 255, 255, 0.7);
  padding: 20px 50px;
}

#titel{
  width: 100%;
  height: 150px;
  background-color: white;
}

#leiste{
  width: 100%;
  height: 40px;
  background-color: lightgray;
}

#spruch{
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.sizeicon{
  font-size: 20px;
}

#ok{
  width: 100%;
  text-align: center;
  margin: 5px;
}


/*Klassen*/
.container-fluid{
  padding-left: 0;
}

/*----------------------------------------------newHabit-------------------------------------------------*/

.eingabefeld{
  margin: 5px;
}

.eingabe{
  margin: 5px;
  border: none;
}

.btn .btn-primary{
  height: 80px;
}

.buttonDeactivated{
  background: @accentColorDark;
  color: rgba(255, 255, 255, 1);
}

.buttonActivated{
  background: @accentColorLight;
  color: rgba(255, 255, 255, 1);
}

.prioCheckboxLine{
text-align: center;
font-size: 24px;
}

#newHabitTabs{
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
}

.selectionTabsNewHabit{
  height: 220px;
  width: 50%;
  display: inline;
}

#newHabitcategoryList{
  height: 200px;
  overflow: scroll;
}

/*Buttons*/
#menue{
  height: 30px;
  width: 30px;
  margin: 5px;
}

.amaticSC{
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
}

#delete{
  height: 30px;
  width: 30px;
  margin: 5px;
  float: right;
}

.select-format{
  border: none;
  font-size: 24px;
  margin: 5px;
  height: 48px;
}

.select-format option{
}

#prioritySelection, #categorySelection{
  padding: 0;
  margin: 0;
}

/*----------------------------------------------newCategory-----------------------------------------------------*/

.margin-top-20px{
  margin-top: 20px;
}

[type="radio"]{
  cursor: pointer;
  height: 20px;
}

.custom-checkbox{
  width: 20px;
}

/*----------------------------------------------showHabit, Detail View------------------------------------------*/

#showHabit-description{
  background: rgba(200, 200, 200, 0.1);
  margin: 20px 0;
}

#calendar{
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}

#month{
  padding: 0;
  padding-top: 10px;
  background: @accentColorDark;
  text-align: center;
  height:56px;
}

#month div{
  height: 51px;
}

.arrow:hover{
  color: rgba(50, 50, 50, .8);
}

#weekdays ul{
  margin: 0;
  padding: 0;
  background: @accentColorLight;
}

#days ul{
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

#weekdays ul li, #days ul li{
  margin: 0;
  padding: 0;
  width: 13.2%;
  text-decoration: none;
  text-align: center;
  display:inline-block;
  border-radius: 25px;
}

#days ul li{
  margin-bottom: 5px;
  width: 13.5%;
  margin: 2px;
}

#statistics{
  padding-right: 0;
}

.statistics-block{
  text-align: center;
  background: @accentColorLight;
}

.percentage{
  font-size: 48px;
  font-weight: bold;
}

/*----------------------------------------------Category Overview-----------------------------------------------*/
#categoryList{
  margin-top: 25px;
}

/*----------------------------------------------Show Category    -----------------------------------------------*/
#showCategory-priority{
  text-align: center;
}
/*----------------------------------------------Allgemein-------------------------------------------------------*/

.text-align-right{
  text-align: right;
}

.currentPageTitle{
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  text-align: center;
}

/*----------------------------------------------Header-------------------------------------------------------*/
header{
  //overflow: hidden; // Ansonsten sind die Dropdowns nicht sichtbar!
}

#header-image{
  height: 200px;
  background: url('images/header-image.jpeg'), #fff;
}
/*----------------------------------------------Nav-------------------------------------------------------*/
nav ul li{
  font-size: 26px;
}

/*#navigation-right{*/
/*padding-right: 10px;*/
/*}*/

nav{
  margin:0;
}
/*----------------------------------------------Main-------------------------------------------------------*/

#content{
  position: relative;
  top: 0;
}

/*----------------------------------------------Index.php-------------------------------------------------*/

#datumreihe{

  background: rgba(200,200,200,0.5);
  padding: 5px 0;
}

.dateDay{
  padding: 0;
  margin: 0;
  text-align: center;
}

#habitOverview{
}

#listOfHabits{
  margin: 10px 0;
  padding: 0;
}

.habit{
  width: 99.5%;
  height: 53px;
  font-size: 24px;
}

#checkboxesHabit{
  padding: 0;
}

.habitCheckRow{
  padding: 0;
  margin: 10px 0;
}

.habitCheckbox{
  background: rgba(200, 200, 200, 0.3);
  border: none;
  border-left: solid rgba(255, 255, 255, 0.3) 1px;
  border-right: solid rgba(255, 255, 255, 0.3) 1px;
}

#secondPageTitle {
  font-size: 64px;
  text-align: center;
}
/*----------------------------------------------Footer------------------------------------------------------*/

footer{
  text-align: center;
}
